<h1>New image</h1>

<% form_for(@image, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

	<p>
		<label for='image_image'>Upload an Image</label>
		<%= f.file_field :uploaded_data %>
	</p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', images_path %>
