<%= stylesheet_link_tag 'profile' %>
<h1>Бюро смены пароля</h1>
<% form_tag url_for(:action => "update") do %>

<%= label 'old_password', 'Старый пароль:' %><br />
<%= password_field_tag 'old_password', @old_password, :class => 'profile_field', :size => 45 %>
<br /><br />
<%= label 'password', 'Новый пароль:' %><br />
<%= password_field_tag 'password', {}, :class => 'profile_field', :size => 45 %>
<br /><br />
<%= label 'password_confirmation', 'И еще раз новый пароль:' %><br />
<%= password_field_tag 'password_confirmation', {}, :class => 'profile_field', :size => 45 %>
<br /><br />
<%= submit_tag 'Сменить пароль!' %>
  
 
<% end %>

<% content_for :sub_menu do %>
	<%= render :partial => "/stuff/management_sub_menu" %>
<% end %>